{% extends 'base.html.twig' %}

{% block title %}Bauers Kalender{% endblock %}

{% block body %}

  <h1 class="h1 text-center">Bauers Calender</h1>
  <h2 class="h2 text-center">for årene 600 til 3199 gældende fo Danmark og Norge</h2>
  
  
  {# read and display just one flash message type #}
  {% for message in app.flashes('notice') %}
    <div class="flash-notice">
        {{ message }}
    </div>
  {% endfor %}

  </p>

{% endblock %}
