{% extends 'card.html.twig' %}

{% block title %}Om dette program{% endblock %}


{% block cardheader %}
<h5>Om Bauers</h5>
{% endblock %}


{% block cardbody %}

<!--div class= 'd-flex justify-content-center'>
	<div class= 'card w-50 bg-light mb-3 center'>
  	<div class= 'card-body' -->
			<h1 class= 'card-title'>{{ product }}</h1>
			<p class= 'card-text'>{{ version }}</p>


		<!--/div>
	</div>
</div-->


{% endblock %}

{% block cardfooter %}
		{{ copyright }}
{% endblock %}